* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.footer {
  font-size: 12px;
  text-align: center;
}

.navigation-button {
  display: flexbox;
  margin: 10px;
  padding: 12px 12px;
  text-align: center;
  font-size: 12pt;
  border: 2px solid #6f6;
  background-color: #efe;
}

.navigation-button:hover {
  background-color: #9f9;
  cursor: pointer;
}

.navigation-button:disabled {
  background-color: #eee;
  border: 2px solid #ccc;
  cursor: not-allowed;
}