.background-extinct {
  position: absolute;
  opacity: 0.12;
  left: 0;
  top: 0;
  width: 100%;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.main-container {
 font-size: 20px;
 overflow: hidden;
 position: relative;
}

.body {
  font-size: 20px;
}

.animal-button {
  margin: 10px;
  padding: 55px 0px;
  flex: 1;
  min-width: 300px;
  text-align: center;
  font-size: 18pt;
  border: 2px solid #6f6;
  background-color: #efe;
  text-decoration: none;
  color: #000;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.animal-button:hover {
  background-color: #9f9;
  cursor: pointer;
}