body {
    font-family: 'MV Boli';
    color:aliceblue;
    background-image: url(https://giffiles.alphacoders.com/195/19518.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
  }
  