body {
    font-family: 'Bahnschrift SemiBold';
    color:maroon;
    background-image: url(https://media.tenor.com/D5NQ5H4-P08AAAAC/sea-of-thieves-sot.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
  }
  