body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:aliceblue;
    background-image: url(https://i.pinimg.com/originals/24/54/4a/24544ab984673b354b8f83d1aa1ca9e7.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
  }
  