body {
    font-family: 'MV Boli';
    color:aliceblue;
    background-image: url(https://thumbs.gfycat.com/BarrenVillainousKoala-size_restricted.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
  }
  